.mainDiv
{
    display: flex;
  align-items: center;
  justify-content: space-between; /* left & right positioning */
  position: relative; /* allows absolute positioning inside */
  height: 80px;       /* adjust header height */
  padding: 0 20px;
  background: #faf0e6; 
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
    
}

.buttons
{
    position: absolute;
  left: 50%;
  transform: translateX(-50%); /* perfect horizontal centering */
  display: flex;
  gap: 30px; /* space between links */
}

.buttons a
{
    text-decoration: none;
  font-weight: bold;
  color: black;
}



.logo
{
    position: 'fixed';
    top: '10px';
  right: '10px';
}

.bookingButton
{
  text-align: center;
  width: 80px;
  

}

.button
{
  
}