.mainDiv
{
    display: flex;
  align-items: center;
  justify-content: space-between; /* left & right positioning */
  position: relative; /* allows absolute positioning inside */
  height: 80px;       /* adjust header height */
  padding: 0 20px;
background: linear-gradient(to bottom, #e5ddd0, #ffffff);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
    
}

.buttons
{
    position: absolute;
  left: 50%;
  transform: translateX(-50%); /* perfect horizontal centering */
  display: flex;
  gap: 30px; /* space between links */
}

.buttons a
{
    text-decoration: none;
  font-weight: bold;
  color: black;
  transition: font-size 0.3s ease; /* smooth animation */
}



.logo
{
    position: 'fixed';
    top: '10px';
  right: '10px';
}

.bookingButton
{
  text-align: center;
  width: 80px;
  

}

.buttons a:hover
{
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.hamburgerMenu
{
  transition: transform 0.2s ease; /* smooth animation */
}

.hamburgerMenu:hover
{
  transform: scale(1.1);
}