.main
{
    display: flex;
    flex-direction: center;
    align-items: stretch;
    justify-content: center;

   
}

.welcomeText
{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
   
    
}

.borderLeft
{
    border-right: 1px solid black;
    height: 100vh;
}