.main
{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;

   
}

.welcomeText
{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
   
    
}

.borderLeft
{
    border-right: 1px solid black;
    height: 100vh;
}

.imageBox
{
    width: 50vh;
    border: 1px solid  rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    background: linear-gradient(#f5efe7, white);
    box-shadow:0 12px 28px rgba(0,0,0,.12);

}