.header {
    text-align: center;
    padding: 40px;
    background: #eef0e3;
    color: black; 
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.registration {
    color: black;
    text-align: center;
    
}
body {
  background-color: white;
  min-height: 100vh;
}
label, input {
  display: block;
  width: 700px;      
  margin-bottom: 12px; 
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;  
  text-align: center; 
  
}
input {
    border: 2px solid rgb(6, 6, 15, 0.3);
    background-color: rgb(157, 156, 158, 0.1);
    width: 100%;
    padding: 10px 10px 10px 45px;  
    border-radius: 5px;
    font-size: 16px;
    
}
label {
  position: relative;
  display: block;
  width: 700px;
  margin: 0 auto 12px;
  text-align: left;
}

label .first,
label .user,
label .mail,
label .phone,
label .icon {
  position: absolute;
  left: 660px;              
  top: 65%;                
  transform: translateY(+170%);    
}
.registrationpage {
  text-align: center;
  background-color: #f5efe7;
}
.registerbtn {
  background-color: #f5efe7;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ebebc0;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);
}

.border {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 50px;
  width: 750px;
  margin: 20px auto;
  background-color: #fdfdfd;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.reg {
  text-align: left;
  font-size: 30px;
  transform: translateY(-40%);
}

.h1 {
  color: #0e0b09;
}
.icon {
  position: relative;
}
.login {
  color: #645ded;
}
.signin {
  text-align: left;
}
